@charset "utf-8";


body {
 
  background-color: #ffffff;
}

#main-content-container {
  width: 100%;
  margin:  auto;
  border:thin solid #AAA;
  -moz-box-shadow: 0 0 6px #7d7d7d;
  -webkit-box-shadow: 0 0 6px #7d7d7d;
  box-shadow: 0 0 6px #7d7d7d;
  background: rgba(255, 255, 255, 0.85);
  z-index:0;
  margin-top:10%;
  margin-bottom:1%;
}

#page-content-container {
  width: 100%;
  padding:5%;
}


.spacer5 {
  height: 5%;
}


img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    display: block;
} 

#rest {
  width: 100%; 
  height: 100%;
}


#footer {
 height:10%;

}


img[alt=ResImage] { 
  width: 20%; 
}