
<html>

<div class="row">
<div class="col">
    <ul class="list-group">              
        <li class="list-group-item">
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z" />
</svg>
<a href="tel:0-(216)-578-00-49">Tel - 0 (216) 578 00 49</a>
</li>

<li class="list-group-item">
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
</svg>
        <a href="mailto:yeditepemedicalimaging@gmail.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        yeditepemedicalimaging@gmail.com</a>               

</li>
<li class="list-group-item">
<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-link-45deg" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z" />
<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z" />
</svg>
<a href="https://github.com/ImagingYeditepe"> Please Check Our GitHub Account</a>
    </li>
<li class="list-group-item">
<div class="media">
<img class="align-self-center mr-3" src="img/ucgen_en.png" width="80" height="auto" alt="Generic placeholder image" />
<a href="https://eng.yeditepe.edu.tr/en/biomedical-engineering-department">
Department of Biomedical Engineering</a></div>               

</li>

<li class="list-group-item">
<a href="https://twitter.com/intent/tweet?screen_name=ImagingYeditepe&amp;ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @ImagingYeditepe</a><script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<a href="https://twitter.com/ImagingYeditepe?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @ImagingYeditepe</a>
    <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</li>
</ul>
</div>

<!--Card-->
<div class="card card-cascade narrower">

<!--Card image-->
<div class="view view-cascade gradient-card-header peach-gradient">
<h5 class="mb-0 px-5"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
</svg> Address</h5>
</div>
<!--/Card image-->

<!--Card content-->
<div class="card-body card-body-cascade text-center">

<!--Google map-->
<div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 200px">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3012.3853985657656!2d29.150655315111845!3d40.9730409793043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac5efbd78551d%3A0x2dac4ac9e6f7c925!2sYeditepe%20%C3%9Cniversitesi!5e0!3m2!1str!2sus!4v1598819854816!5m2!1str!2sus" width="300" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
</div></div></div></html>
