<h2>Social Media</h2>

<ul class="list-group list-group-flush">
    
<li class="list-group-item">
    <div class="row">
    <div class="col-8">
    <a class="twitter-timeline" href="https://twitter.com/ImagingYeditepe?ref_src=twsrc%5Etfw">Tweets by ImagingYeditepe</a> <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-4">
    <div class="card" style="width: auto;">
        <img src="img/imaging_logo.png" class="card-img-top" alt="..." />
        <div class="card-body">
        </div>
    </div>
    </div>
</div>

</li>
</ul>
